#chats-outer-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#chats-div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 2%;
    width: 100%;
    height:70vh;
    background-color: white;
  }